*.iml
.gradle
/local.properties
local.properties
/.idea/libraries
.idea/libraries
/.idea/modules.xml
.idea/modules.xml
/.idea/workspace.xml
.idea/workspace.xml
.DS_Store
/build
build
/captures
captures
.externalNativeBuild
